# Hadoop + YARN settings for docker-compose cluster
# Copy this file to hadoop.env before starting the cluster.

# HDFS
CORE_CONF_fs_defaultFS=hdfs://master:9000
HDFS_CONF_dfs_replication=2
HDFS_CONF_dfs_blocksize=134217728
HDFS_CONF_dfs_namenode_name_dir=file:///hadoop/namenode
HDFS_CONF_dfs_datanode_data_dir=file:///hadoop/datanode
HDFS_CONF_dfs_namenode_datanode_registration_ip___hostname___check=false

# YARN
YARN_CONF_yarn_resourcemanager_hostname=master
YARN_CONF_yarn_resourcemanager_address=master:8032
YARN_CONF_yarn_resourcemanager_scheduler_address=master:8030
YARN_CONF_yarn_resourcemanager_resource__tracker_address=master:8031
YARN_CONF_yarn_nodemanager_aux__services=mapreduce_shuffle
YARN_CONF_yarn_nodemanager_auxservices_mapreduce__shuffle_class=org.apache.hadoop.mapred.ShuffleHandler
YARN_CONF_yarn_nodemanager_resource_memory__mb=2048
YARN_CONF_yarn_nodemanager_resource_cpu__vcores=2
YARN_CONF_yarn_scheduler_minimum__allocation__mb=512
YARN_CONF_yarn_scheduler_maximum__allocation__mb=2048

# MapReduce
MAPRED_CONF_mapreduce_framework_name=yarn
MAPRED_CONF_mapreduce_jobhistory_address=master:10020

# Java
JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64
